#contactForm {
    background-color: #E6E6FA; /* Pale lavender background */
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333; /* Charcoal color for labels */
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 1rem; /* Increased padding */
    border: 1px solid #868e96; /* Softer border color */
    border-radius: 6px;
    font-family: 'Open Sans', serif;
    font-size: 1rem;
    transition: border-color 0.3s ease-in-out; /* Smooth transition */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #bd5d38; /* Highlight border color */
    outline: none;
}

.btn {
    background-color: #bd5d38; /* Button color */
    color: white;
    border: none;
    padding: 0.75rem 2rem; /* Increased button padding */
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn:hover {
    background-color: #824027; /* Darker shade on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow on hover */
}
